*{
    font-family: Hikasami;
}

body {
    margin: 0;
}

.section {
    transition: background-color 0.25s;

    position: relative;
    height: 100vh;
    overflow: hidden;
}

.focused {
}

.unfocused {
}

.focused > .transition-all{
    opacity: 100%;
    transform: translateY(0em);
}

.unfocused > .transition-all{
    opacity: 0;
    transform: translateY(2em);
}

.transition-all{
    transition: all 0.25s;
}

/* Fullscreen fixed background component */

.fullscreen-fixed-background{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

/* Home page */
.main-background {
    background: linear-gradient(180deg, #222831 0%, #171B21 100%) fixed;
}

.ballmen-background{
    background: linear-gradient(180deg, #96B3DE 0%, #2256A3 100%) fixed;
}
