:root {
    --foreground-light-color: #DFD0B8;
    --foreground-dark-color: #948979;
    --background-light-color: #393E46;
    --background-dark-color: #222831;

    --telegram-backcolor: #28a7e8;
    --itch-io-backcolor: #fa5c5c;
    --github-backcolor: #1b1f23;
}

*{
    font-family: Hikasami;
}

html {
    font-size: max(0.5vw, 1.5vh);
}

body {
    margin: 0;
}

.section {
    transition: background-color 0.25s;

    position: relative;
    height: 100vh;
    overflow: hidden;
}

.focused {
}

.unfocused {
}

.focused > .transition-all{
    opacity: 100%;
    transform: translateY(0em);
}

.unfocused > .transition-all{
    opacity: 0;
    transform: translateY(2em);
}

.transition-all{
    transition: all 0.25s;
}

button {
    cursor: pointer;

    padding: 0.75em 1.25em;

    border-radius: 0.75em;
    border: none;

    font-weight: bold;
    font-size: 1em;

    transition: background-color 0.1s, color 0.1s;

    color: var(--background-light-color);
    background-color: var(--foreground-light-color);
}

button:hover {
    color: color-mix(in xyz, var(--background-light-color) 75%, #000000 100%);
    background-color: color-mix(in xyz, var(--foreground-light-color) 75%, #000000 100%);
}

/* Fullscreen fixed background component */

.fullscreen-fixed-background{
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

/* Home page */

.noise-background {
    background: url("../images/noise.png") repeat;
    opacity: 5%;
}

.noise2-background {
    background: url("../images/noise2.png") repeat;
    opacity: 10%;
}

.blur-background {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5vh);
}

/* Bootstrap */

.flex-row {
    display: flex;
    flex-direction: row;
}

.gap-2em {
    gap: 2em;
}

.gap-1em {
    gap: 1em;
}

.gap-half-em {
    gap: 0.5em;
}

.width-max-parent {
    width: max-content;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.no-margin-parent > * {
    margin: 0;
}

.foreground-light-color {
    color: var(--foreground-light-color);
}

.foreground-dark-color {
    color: var(--foreground-dark-color);
}

.background-light-color {
    color: var(--foreground-light-color);
}

.background-dark-color {
    color: var(--foreground-dark-color);
}

.foreground-light-backcolor {
    background-color: var(--foreground-light-color);
}

.foreground-dark-backcolor {
    background-color: var(--foreground-dark-color);
}

.background-light-backcolor {
    background-color: var(--background-light-color);
}

.background-dark-backcolor {
    background-color: var(--background-dark-color);
}

/* - Main section */

.main-background {
    background: linear-gradient(180deg, #222831 0%, #171B21 100%) fixed;
}

.logo-background {
    background: url("../images/47logo.png") fixed no-repeat right 2em bottom 6em;
    background-size: 35%;
    opacity: 0.05;
    filter: blur(1vh);
}

.main-section {
    display: flex;
    flex-direction: row;
}

.profile-container {
    display: flex;
    flex-direction: column;
    padding: 5em;

    height: 100%;
    width: min-content;

    background-color: rgba(1,1,1,0.25);
}

.profile-container .skill {
    padding: 0.5em 1em;

    border-radius: 0.75em;
    border: none;

    font-weight: bold;
    font-size: 1em;

    transition: background-color 0.1s, color 0.1s;

    color: var(--foreground-light-color);
    background-color: var(--background-light-color);
}

.links-container {
    display: flex;
    flex-direction: column;
    padding: 2em 5em;

    position: absolute;
    bottom: 50px;

    width: max-content;
}

.link {
    cursor: pointer;

    border-radius: 50%;

    height: 5em;
    width: 5em;

    background-color: white;

    transition: transform 0.25s ease;
}

.link:hover {
    transform: translateY(-1em);
}

.link * {
    height: 60%;
    width: 60%;
    margin: 20%;
}

.link.telegram {
    background-color: var(--telegram-backcolor);
}

.link.itch-io {
    background-color: var(--itch-io-backcolor);
}

.link.github {
    background-color: var(--github-backcolor);
}

.profile-avatar {
    width: 150px;
    height: 150px;

    background: url("https://avatars.githubusercontent.com/u/108463574");
    background-size: cover;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.portfolio-footer {
    display: flex;

    flex-direction: row;
    position: absolute;
    bottom: 0;

    height: 50px;
    width: 100%;

    background-color: var(--foreground-light-color);
}

.portfolio-footer .dash-lines {
    background: url("../images/dashBackground.svg") center;
    background-size: 2.5em;

    margin: 0 1em;

    height: 0.25em;
    width: 100%;

    align-self: center;
}

.portfolio-footer p {
    font-size: 1.2em;
    text-wrap-mode: nowrap;

    align-self: center;
}

/* - Ballmen section */

.ballman-character-background {
    background: url("../images/ballman.png") fixed no-repeat right;
    background-size: 60vh;
    background-position-y: 22.5vh;

    height: 120%;
    width: 120%;

    transition: background-position 1.5s ease, background-size 1s ease;
}

.ballmen-background {
    background: url("../images/ballmenBackground.png") fixed repeat center;
    background-size: cover;

    transition: background-position 0.5s ease-out;
}

.focused > .ballmen-background {
    background-position-y: 0;
}

.unfocused > .ballmen-background {
    background-position-y: 10vh;
}

.focused > .ballman-character-background {
    background-size: 60vh;
    background-position-x: 60vw;
}

.unfocused > .ballman-character-background {
    background-size: 80vh;
    background-position-x: 125vw;
}
