.box{
    display: inline-flex;
    align-items: center;

    padding: 0.8em;
    background: #D9D9D9;
    border-radius: 0.5em;

    transition: all 0.1s ease-out;

    text-decoration: none; 
}

.box.interactable{  cursor: pointer; }

.dark > .box { background: #2D2D2D; }

.box.interactable[disabled] { opacity: 30%; }

.dark > .box.interactable:hover:not([disabled]) {
    background: #333333;
    transform: translateY(-0.3em);
}

.box.interactable:hover:not([disabled]) {
    background: #CCCCCC;
}

.box.interactable[disabled]:hover { opacity: 100%; }

.box * {
    display: inline-block;
    margin: 0px;
}

.box p:not(:first-child, .buttonLink.vertical p, .portfolio p) { margin-left: 0.6em; }

.box.vertical{
    display: inline-block;
    padding: 1em 1em;
}

.box.vertical *:not(:first-child) { margin-top: 0.5em; }

.box.portfolio{
    display: inline-block;

    overflow: hidden;
    padding: 0px;
}

.box.box.portfolio img, .box.box.portfolio video{
    display: block;
    
    object-fit: cover;

    height: 13em;
    width: 20em;
}

.box.portfolio p{
    display: block;

    font-weight: bold;
    font-size: 1.1em;
    line-height: 2em;
    text-align: center;

    margin: 0px;
}
