.main-background {
    background-size: cover;
    background: linear-gradient(180deg, #222831 0%, #171B21 100%) fixed;
}

.ballmen-background{
    background: linear-gradient(180deg, #96B3DE 0%, #2256A3 100%) fixed;
}
