@page "/"
@using System.Globalization
@using _47FirstGitHubPage.Blazor.Components

<PageTitle>@CultureInfo.CurrentUICulture</PageTitle>

<SectionContainer>
    <FullscreenFixedBackground ZIndex="-3" CssClass="main-background"/>
    <FullscreenFixedBackground ZIndex="-2" CssClass="logo-background"/>
    <FullscreenFixedBackground ZIndex="-1" CssClass="noise-background"/>

    <LocaleButton CultureChanged="StateHasChanged"/>

    <div class="portfolio-footer">
        <div class="dash-lines"></div>
        <p>Portfolio below</p>
        <div class="dash-lines"></div>
    </div>
</SectionContainer>

<SectionContainer>
    <FullscreenFixedBackground ZIndex="-4" CssClass="ballmen-background"/>
    <FullscreenFixedBackground ZIndex="-3" CssClass="blur-background"/>
    <FullscreenFixedBackground ZIndex="-2" CssClass="noise2-background"/>
    <FullscreenFixedBackground ZIndex="-1" CssClass="ballman-character-background"/>

    <iframe
        frameborder="0"
        src="https://itch.io/embed/3371277?bg_color=000000&amp;fg_color=ffffff&amp;link_color=FF5555&amp;border_color=444444"
        width="552" height="167">
        <a href="https://47first.itch.io/ballmen-beta">Ballmen by 47first</a>
    </iframe>
</SectionContainer>

<SectionContainer>
    <FullscreenFixedBackground CssClass="main-background"/>
</SectionContainer>
