:root {
    --foreground-light-color: #DFD0B8;
    --foreground-dark-color: #948979;
    --background-light-color: #393E46;
    --background-dark-color: #222831;

    --telegram-backcolor: #28a7e8;
    --itch-io-backcolor: #fa5c5c;
    --github-backcolor: #1b1f23;
}

*{
    font-family: Hikasami;
}

html {
    font-size: max(0.5vw, 1.5vh);
}

body {
    margin: 0;
}

.section {
    transition: background-color 0.25s;

    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.focused {
}

.unfocused {
}

.focused > .transition-all{
    opacity: 100%;
    transform: translateY(0em);
}

.unfocused > .transition-all{
    opacity: 0;
    transform: translateY(2em);
}

.transition-all{
    transition: all 0.25s;
}

button {
    cursor: pointer;

    padding: 0.75em 1.25em;

    border-radius: 0.75em;
    border: none;

    font-weight: bold;
    font-size: 1em;

    transition: background-color 0.1s, color 0.1s;

    color: var(--background-light-color);
    background-color: var(--foreground-light-color);
}

button:hover {
    color: color-mix(in xyz, var(--background-light-color) 75%, #000000 100%);
    background-color: color-mix(in xyz, var(--foreground-light-color) 75%, #000000 100%);
}

/* Fullscreen fixed background component */

.fullscreen-fixed-background{
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

/* Home page */

.noise-background {
    background: url("../images/noise.png") repeat;
    opacity: 5%;
}

.noise2-background {
    background: url("../images/noise2.png") repeat;
    opacity: 10%;
}

.blur-background {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5vh);
}
