:root {
    --foreground-light-color: #DFD0B8;
    --foreground-dark-color: #948979;
    --background-light-color: #393E46;
    --background-dark-color: #222831;
}

*{
    font-family: Hikasami;
}

body {
    margin: 0;
}

.section {
    transition: background-color 0.25s;

    position: relative;
    height: 100vh;
    overflow: hidden;
}

.focused {
}

.unfocused {
}

.focused > .transition-all{
    opacity: 100%;
    transform: translateY(0em);
}

.unfocused > .transition-all{
    opacity: 0;
    transform: translateY(2em);
}

.transition-all{
    transition: all 0.25s;
}

button {
    cursor: pointer;

    padding: 0.75em 1em;

    border-radius: 0.75em;
    border: none;

    font-weight: bold;
    font-size: 1em;

    transition: background-color 0.1s, color 0.1s;

    color: var(--background-light-color);
    background-color: var(--foreground-light-color);
}

button:hover {
    color: color-mix(in xyz, var(--background-light-color) 75%, #000000 100%);
    background-color: color-mix(in xyz, var(--foreground-light-color) 75%, #000000 100%);
}

/* Fullscreen fixed background component */

.fullscreen-fixed-background{
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

/* Home page */

/* - Main section */

.main-background {
    background: linear-gradient(180deg, #222831 0%, #171B21 100%) fixed;
}

.noise-background {
    background: url("../images/noise.png") repeat;
    opacity: 5%;
}

.logo-background {
    background: url("../images/47logo.png") fixed no-repeat right 2em bottom 2em;
    background-size: 40%;
    opacity: 0.05;
    filter: blur(1vh);
}

/* - Ballmen section */

.ballmen-background {
    background: url("../images/ballmenBackground.png") fixed repeat;
    background-size: cover;

    transition: background-position 0.5s cubic-bezier(0,1,.75,1);
}

.focused > .ballmen-background {
    background-position-y: 0;
}

.unfocused > .ballmen-background {
    background-position-y: 10vh;
}

.blur-background {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5vh);
}
